name: SLSA Go releaser

on:
  workflow_dispatch:
  release:
    types: [created]

permissions:
  contents: write
  id-token: write
  actions: read

jobs:
  build:
    permissions:
      id-token: write
      contents: write
      actions: read
    uses: slsa-framework/slsa-github-generator/.github/workflows/builder_go_slsa3.yml@v1.10.0
    with:
      go-version: "1.24"
      config-file: .slsa-goreleaser.yml
      upload-assets: true

